.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-text {
    margin: 5px;
    line-height: 1.2;
    font-family: 'Waterfall', cursive;
    font-size: 80px;
}

.timer {
    position: relative;
    left: 12.5vw;
}

.flex-container :last-child {
    margin-top: 30px;
}

@media (max-width: 1000px) {
    .welcome-text {
        font-size: 60px;
    }

    .timer {
        position: relative;
        left: 12.5vw;
    }
}

@media (max-width: 800px) {
    .welcome-text {
        font-size: 50px;
    }

    .timer {
        position: relative;
        left: 12vw;
    }
}

@media (max-width: 600px) {
    .welcome-text {
        font-size: 40px;
    }

    .timer {
        position: relative;
        left: 10vw;
    }
}

@media (max-width: 450px) {
    .welcome-text {
        font-size: 35px;
    }

    .timer {
        position: relative;
        left: 8vw;
    }
}