<div class="welcome">
    <div>We are delighted to welcome you to</div>
    <div>Patrik & Claudia's</div>
    <div>wedding!</div>
</div>
<div class="time-and-place">
    July 19 2025 <span class="dot"></span> Göteborg <span class="dot"></span><span>{{timer.remDays}} days togo</span>
</div>
<div class="headline">OUR STORY</div>
<p class="our-story">
    A simple message on a dating app would travel across Kattegat and become the beginning of our
    beautiful love story. “Hello there on the other side of the water” Patrik wrote, and with those simple
    words, a Swedish Pilot and a Danish accountant would begin their very own fairytale.
    Our story proves that love knows no borders. Between Patrik’s flights touching down
    all over Europe and my world of endless numbers and spreadsheets we have created a beautiful
    relationship based on mutual respect, curiosity and many interests that with time have become
    mutual. Patrik has introduced me to the beauty of the Gothenburg Archipelago, and I have shared
    with him my love for all things Italian. In our relationship we delight in teaching each other. Patrik
    patiently sits evening after evening explaining to me the intricate systems of jet aircraft – just ask
    me what might happen if you get on the back side of the drag curve... While I introduce him to the
    profound simplicity of Hemingway’s prose, as well as the differences between the different
    philosophical schools.

    When I was younger, and wanted as young people tend to do – everything all at once, I
    would get annoyed when people told me to be patient, and that whoever waits for something good never
    waits in vain. Today I understand that they were right. Patrik and I might have found each other
    later in life, but in each other we have found a true soul mate, and a love that is both patient and
    enduring of any outside circumstances.

    On that magical Christmas Eve in 2023 when Patrik dropped to one knee and asked me to be his
    wife in Rome’s beautiful Borghese Gardens I have never been more sure of an answer in my
    whole life.

    Patrik and I are so excited to embark on this next chapter of our lives as husband and wife together
    with our beloved children, and one far too spoiled miniature dachshund. Welcome to our wedding website. We
    can’t wait to celebrate with all of you and hope you will find the information on this site useful.
</p>
<div class="collage">
    <div class="collage-item-1" (click)="showImage(collageItem1)">
        <img #collageItem1 src="assets/images/ratio1-1/picture5-1_1.jpg">
        <div class="overlay-text-1_1">Dec 2023</div>
    </div>

    <div class="collage-item-2" (click)="showImage(collageItem2)">
        <img #collageItem2 src="assets/images/ratio1-1/picture12-1_1.jpg">
        <div class="overlay-text-1_1">May 2023</div>
    </div>

    <div class="collage-item-3" (click)="showImage(collageItem3)">
        <img #collageItem3 src="assets/images/ratio9-16/picture10-9_16.jpg">
        <div class="overlay-text-9_16">Aug 2023</div>
    </div>

    <div class="collage-item-4" (click)="showImage(collageItem4)">
        <img #collageItem4 src="assets/images/ratio9-16/picture6-9_16.jpg">
        <div class="overlay-text-9_16">Dec 2023</div>
    </div>

    <div class="collage-item-5" (click)="showImage(collageItem5)">
        <img #collageItem5 src="assets/images/ratio9-16/picture18-9_16.jpg">
        <div class="overlay-text-9_16">Feb 2023</div>
    </div>

    <div class="collage-item-6" (click)="showImage(collageItem6)">
        <img #collageItem6 src="assets/images/ratio9-16/picture17-9_16.jpg">
        <div class="overlay-text-9_16">Sept 2024</div>
    </div>

    <div class="collage-item-7" (click)="showImage(collageItem7)">
        <img #collageItem7 src="assets/images/ratio1-1/picture8-1_1.jpg">
        <div class="overlay-text-1_1">July 2024</div>
    </div>

    <div class="collage-item-8" (click)="showImage(collageItem8)">
        <img #collageItem8 src="assets/images/ratio1-1/picture14-1_1.jpg">
        <div class="overlay-text-1_1">Dec 2022</div>
    </div>
</div>
<div class="image-overlay" *ngIf="isImageVisible" (click)="hideImage()">
    <img [src]="enlargedImageSrc">
</div>