.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 100%;
    height: 100vh;
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    // The ^ is a workaround to allow the image to load both in developement (localhost) and on production server
    background-image: url('^assets/images/wedding-flowers.jpg');
    background-size: cover;
    background-position: center;

    opacity: 0.25;
    z-index: 1;
}

.container .welcome-text {
    margin-top: 50px;
}

.welcome-text {
    margin-top: 20px;
    font-family: 'Waterfall', cursive;
    font-size: 80px;
    z-index: 2;
}

.timer {
    position: absolute;
    top: 45%;
    right: 0%;
    z-index: 2;

    margin-top: 50px;
}

@media (max-width: 1200px) {
    .welcome-text {
        font-size: 70px;
    }
}


@media (max-width: 1000px) {
    .welcome-text {
        font-size: 60px;
    }

    .timer {
        top: 40%;
    }

}

@media (max-width: 800px) {
    .welcome-text {
        font-size: 52px;
    }

    .timer {
        top: 35%;
    }
}

@media (max-width: 600px) {
    .welcome-text {
        font-size: 38px;
    }

    .timer {
        top: 25%;
    }
}

@media (max-width: 450px) {
    .welcome-text {
        font-size: 35px;
    }

    .timer {
        top: 22%;
    }
}

@media (max-width: 400px) {
    .welcome-text {
        font-size: 28px;
    }

    .timer {
        top: 17%;
    }
}