<div class="container">
    <div class="welcome-text">
        <div>We are delighted to welcome you to</div>
        <div>Patrik & Claudia's</div>
        <div>wedding, in:</div>
    </div>
    <app-timer class="timer"></app-timer>
    <div class="collage-container">
        <div class="collage-item-1">
            <img src="../../assets/images/picture1-1_1.jpg">
        </div>
        <div class="collage-item-2">
            <img src="../../assets/images/picture3-1_1.jpg">
        </div>
        <div class="collage-item-3">
            <img src="../../assets/images/picture5-1_1.jpg">
        </div>
        <div class="collage-item-4">
            <img src="../../assets/images/picture7-1_1.jpg">
        </div>
        <div class="collage-item-5">
            <img src="../../assets/images/picture8-1_1.jpg">
        </div>
        <div class="collage-item-6">
            <img src="../../assets/images/picture11-1_1.jpg">
        </div>
    </div>
</div>