<div class="container">
    <div class="welcome-text">
        <div>We are delighted to welcome you to</div>
        <div>Patrik & Claudia's</div>
        <div>wedding!</div>
    </div>
    <div class="time_and_place">
        July 19 2025 <span class="dot"></span> Göteborg <span class="dot"></span> 224 days to go
    </div>
    <!--<app-timer class="timer"></app-timer>-->
    <div class="collage-container">
        <div class="collage-item-1">
            <img src="assets/images/ratio1-1/picture1-1_1.jpg">
        </div>
        
        <div class="collage-item-2">
            <img src="assets/images/ratio1-1/picture5-1_1.jpg">
        </div>
        
        <div class="collage-item-3">
            <img src="assets/images/ratio9-16/picture6-9_16.jpg">
        </div>
        
        <div class="collage-item-4">
            <img src="assets/images/ratio9-16/picture10-9_16.jpg">
        </div>
        
        <div class="collage-item-5">
        <img src="assets/images/ratio9-16/picture18-9_16.jpg">
        </div>

        <div class="collage-item-6">
            <img src="assets/images/ratio9-16/picture21-9_16.jpg">
        </div>

        <div class="collage-item-7">
            <img src="assets/images/ratio1-1/picture11-1_1.jpg">
        </div>

        <div class="collage-item-8">
            <img src="assets/images/ratio1-1/picture14-1_1.jpg">
        </div>
    </div>
</div>