.ring {
  width: 16px;
  height: 16px;
  background-color: rgb(150, 164, 152);
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-horizontal-bar {
  position: absolute;
  width: 13%;
  height: 70%;
  background-color: rgb(252, 251, 244);
  transform: rotate(90deg);
  z-index: 1;
}

.plus-vertical-bar {
  position: absolute;
  width: 13%;
  height: 70%;
  background-color: rgb(252, 251, 244);
  z-index: 2;
}

@media (max-width: 1200px) {
  .ring {
    width: 14px;
    height: 14px;
  }
}

@media (max-width: 1000px) {
  .ring {
    width: 13px;
    height: 13px;
  }
}

@media (max-width: 800px) {
  .ring {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 600px) {
  .ring {
    width: 11px;
    height: 11px;
  }
}

@media (max-width: 450px) {
  .ring {
    width: 10px;
    height: 10px;
  }
}