<div class="page-headline">FAQ</div>
<div class="faq-container">
    <p class="intro">We know that many of you have gone to great lengths to make it to our wedding, travelling in
        from various parts around the world. For this we are truly grateful. In order to ease the stress we've put
        together this FAQ that hopefully will shine light on some practical aspects of your journey. If you have any
        other questions than those listed below, please be in touch with us through a channel of your choice.</p>
    <div class="question">What suitable accomodation is available?</div>
    <div class="answer">We recommend "Quality Hotel 11" located right next to the venue of the wedding party. The price
        is ca: 2000 SEK / 1300 DKK / 175 EUR per night for a double room including breakfast. Booking is made by
        contacting the hotel directly on +46 31 7791111. Use discount code <i>RIVER</i> to obtain 15 % discount on
        previously mentioned prices. Another option is "Hotel Villan", also very near the venue of the party. For other
        hotel options near Eriksberg click <a
            href="https://www.google.com/maps/search/Hotels+near+Restaurant+River+on+The+Pier+Gothenburg"
            target="_blank">here.</a>
        <div style="margin-top: 1em"><b>Note:</b> Due to the fact the finals of Gothia Cup, the largest youth football
            tournament in the world, are being played on our wedding weekend Quality Hotell 11 is not available until
            the 19th.</div>
    </div>

    <div class="question">How do I transport myself to, from and around the wedding?</div>
    <div class="answer">Public transportation is quite decent in Gothenburg, once you get the hang of it. Download the
        app "Västtrafik ToGo" and buy tickets directly using your bank card. There is no need to sign up for an account.
        The same ticket is valid on all Västtrafik buses, trams and ferries. The app language should pop up as English
        as long as your phone's language is not set to Swedish. The ceremony, held at Domkyrkan in the city center of
        Gothenburg, is right next to a bus stop with the same name, "Domkyrkan". Between the church and the wedding
        party transportation is arranged as we have chartered a boat that will take us on a scenic tour along the
        harbour of Gothenburg before dropping us off at Restaurant River On The Pier in Eriksberg. The restaurant closes
        at 02:00, if you are in need of transportation home or to your hotel, buses run every 10-15 min through the
        night from bus stop "Eriksbergtorget", some 200 meters from the restaurant, to the city center. If you prefer
        taxi, Taxi Göteborg is a trustworthy and well established taxi company that can be booked on +46 31 650000.
    </div>
    <div class="question">I would like to hold a speech, who do I contact?</div>
    <div class="answer">Please be in touch with toastmaster, Per-Christian Reithe, on XXX.</div>
    <div class="question">What about children at the wedding?</div>
</div>