.container {
    display: flex;
    align-items: center;
    
    height: 70px;
    width: 50vw;
    background-color: rgb(150, 164, 152);
    color: white;
    
    font-size: 30px;
    padding-left: 2em;
}

@media (max-width: 1000px) {
    .container {
        height: 60px;
        font-size: 22px;
        padding-left: 2em;
    }
}

@media (max-width: 800px) {
    .container {
        height: 50px;
        font-size: 18px;
        padding-left: 2em;
    }
}

@media (max-width: 600px) {
    .container {
        height: 40px;
        font-size: 14px;
        padding-left: 2em;
    }
}

@media (max-width: 450px) {
    .container {
        height: 30px;
        font-size: 10px;
        padding-left: 1em;
    }
}

