.page-headline {
    background-color: rgb(150, 164, 152);
    color: white;

    display: flex;
    justify-content: center;
    font-size: 32px;
    width: 100%;
    padding: 5px;
    margin: 0px;
}

.registry {
    margin: 2em;
}

.intro {
    font-size: 16px;
}

.intro .comment {
    font-size: 14px;
}

.gifts {
    column-count: 2;
    column-gap: 20px;
    height: 80vh;
    overflow-y: auto;
    /* Allow scrolling for overflow */
    column-fill: auto;
}

.categories {
    display: flex;
    justify-content: center;

    background-color: rgb(150, 164, 152);
    color: white;
    padding: 2px;
    font-size: 18px;
}

table {
    width: 100%;
    border-spacing: 0 10px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

td {
    padding-left: 30px;
    font-size: 14px;
}

.td-checkbox {
    width: 20px;
}

.button {
    width: 14px;
    height: 14px;
    border-radius: 0%;
    border: 1px solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);

    /* Removes any margin that could affect dimensions */
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    cursor: pointer;
}

/* CSS that creates the check mark */
.button::after {
    content: "";
    margin-left: 20px;
    margin-top: 4px;
    position: absolute;
    width: 18px;
    height: 6px;
    border-left: 2px solid black;
    /* Left part of the tick */
    border-bottom: 2px solid black;
    /* Bottom part of the tick */
    transform: rotate(-45deg) scale(0);
    /* Hidden by default */
    transform-origin: bottom left;
    opacity: 0;
}

.button.ticked::after {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
}

.button:hover {
    transform: scale(1.1);
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 1200px) {

    .registry {
        margin: 1.8em;
    }

    .intro {
        font-size: 14px;
    }

    .intro .comment {
        font-size: 13px;
    }

    .categories {
        font-size: 16px;
    }

    td {
        padding-left: 25px;
        font-size: 13px;
    }

    .td-checkbox {
        width: 18px;
    }

    .button {
        width: 13px;
        height: 13px;
    }
}

@media (max-width: 1000px) {

    .page-headline {
        font-size: 26px;
    }

    .registry {
        margin: 1.6em;
    }

    .intro {
        font-size: 13px;
    }

    .intro .comment {
        font-size: 12px;
    }

    .categories {
        font-size: 15px;
    }

    td {
        padding-left: 20px;
        font-size: 12px;
    }

    .td-checkbox {
        width: 16px;
    }

    .button {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 800px) {

    .page-headline {
        font-size: 22px;
    }

    .registry {
        margin: 1.4em;
    }

    .intro {
        font-size: 11px;
    }

    .intro .comment {
        font-size: 10px;
    }

    .categories {
        font-size: 13px;
        padding: 2px;
    }

    .columns {
        column-gap: 15px;
    }

    td {
        padding-left: 15px;
        font-size: 10px;
    }

    .td-checkbox {
        width: 14px;
    }

    .button {
        width: 11px;
        height: 11px;
    }
}

@media (max-width: 600px) {

    .page-headline {
        font-size: 18px;
    }

    .registry {
        margin: 1.2em;
    }

    .intro {
        font-size: 9px;
    }

    .intro .comment {
        font-size: 8px;
    }

    .categories {
        font-size: 11px;
    }

    .gifts {
        column-count: 1;
    }

    td {
        padding-left: 10px;
        font-size: 9px;
    }

    .td-checkbox {
        width: 12px;
    }

    .button {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 450px) {

    .page-headline {
        font-size: 16px;
    }

    .registry {
        margin: 1em;
    }

    .intro {
        font-size: 8px;
    }

    .intro .comment {
        font-size: 7px;
    }

    .categories {
        font-size: 10px;
        padding: 1px;
    }

    td {
        padding-left: 10px;
        font-size: 8px;
    }

    .td-checkbox {
        width: 10px;
    }

    .button {
        width: 9px;
        height: 9px;
    }
}