.container {
    height: 100vh;
    margin: 2em;
}

.page-headline {
    background-color: rgb(150, 164, 152);
    color: white;

    display: flex;
    justify-content: center;
    font-size: 32px;
    width: 100%;
    padding: 5px;
    margin: 0px;
}

.columns {
    column-count: 3;
    column-gap: 20px;
    height: 80vh;
    overflow-y: auto; /* Allow scrolling for overflow */
    column-fill: auto;
}

table {
    width: 100%;
    border-spacing: 0 10px;
}

.headline {
    display: flex;
    justify-content: center;
    
    background-color: rgb(150, 164, 152);
    color: white;  
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 3px;
    font-size: 18px;
}

.td-button {
    width: 20px;
}

td {
    padding-left: 30px;
    font-size: 16px;
}

.button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid;
    
    /* Removes any margin that could affect dimensions */
    padding: 0;
    margin: 0; 

    display: flex;
    justify-content: center;
    cursor: pointer;
}

/* CSS that creates the check mark */
.button::after {
    content: "";
    margin-left: 20px;
    margin-top: 4px;
    position: absolute;
    width: 18px;
    height: 6px;
    border-left: 2px solid black;       /* Left part of the tick */
    border-bottom: 2px solid black;     /* Bottom part of the tick */
    transform: rotate(-45deg) scale(0);   /* Hidden by default */
    transform-origin: bottom left;
    opacity: 0;
}

.button.ticked::after {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
}

.button:hover {
    transform: scale(1.1);
}


@media (max-width: 1200px) {

    .headline {
        font-size: 17px;
    }

    td {
        padding-left: 25px;
    }
}

@media (max-width: 1000px) {

    td {
        padding-left: 20px;
    }
}

@media (max-width: 800px) {

    .headline {
        font-size: 16px;
    }

    .button {
        width: 15px;
        height: 15px;
    }

    td {
        padding-left: 15px;
        font-size: 15px;
    }
}

@media (max-width: 600px) {

    .headline {
        font-size: 14px;
    }

    .button {
        width: 13px;
        height: 13px;
    }

    td {
        padding-left: 10px;
        font-size: 13px;
    }
}

@media (max-width: 450px) {

    td {
        padding-left: 10px;
    }
}