<div class="page-headline">REGISTRY</div>
<div class="container">
    <div class="columns">
        <div class="headline">Category 1</div>
        <table>
            <tbody>
                <tr *ngFor="let gift of sortGifts('1')">
                    <td class="td-button"><button class="button" (click)="updateGiftStatus(gift)" [class.ticked]="gift.claimed"></button></td>
                    <td [ngStyle]="{
                            'text-decoration': gift.claimed ? 'line-through' : 'none', 
                            'color': gift.claimed ? 'gray' : 'black'}">
                        {{gift.name}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="headline">Category 2</div>
        <table>
            <tbody>
                <tr *ngFor="let gift of sortGifts('2')">
                    <td class="td-button"><button class="button" (click)="updateGiftStatus(gift)" [class.ticked]="gift.claimed"></button></td>
                    <td [ngStyle]="{
                        'text-decoration': gift.claimed ? 'line-through' : 'none', 
                        'color': gift.claimed ? 'gray' : 'black'}">
                    {{gift.name}}
                </td>
                </tr>
            </tbody>
        </table>
        <div class="headline">Category 3</div>
        <table>
            <tbody>
                <tr *ngFor="let gift of sortGifts('3')">
                    <td class="td-button"><button class="button" (click)="updateGiftStatus(gift)" [class.ticked]="gift.claimed"></button></td>
                    <td [ngStyle]="{
                        'text-decoration': gift.claimed ? 'line-through' : 'none', 
                        'color': gift.claimed ? 'gray' : 'black'}">
                    {{gift.name}}
                </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>