.page-headline {
    background-color: rgb(150, 164, 152);
    color: white;

    display: flex;
    justify-content: center;
    font-size: 32px;
    width: 100%;
    padding: 5px;
    margin: 0px;
}

.registry-container {
    margin: 2em;
}

.registry-about {
    font-size: 16px;
    position: relative;
    margin-bottom: 2em;
}

.registry-about::first-letter {
    /* Make the first letter larger */
    font-size: 40px; 
    /* Align it to the left of the text */
    float: left; 
    /* Add a bit of spacing to the right */
    margin-right: 0.1em; 
    /* Align with the paragraph's lines */
    line-height: 1; 
}

.registry-content {
    column-count: 2;
    column-gap: 20px;
    height: 80vh;
    overflow-y: auto;
    /* Allow scrolling for overflow */
    column-fill: auto;
}

table {
    width: 100%;
    border-spacing: 0 10px;
}

.category-headline {
    display: flex;
    justify-content: center;

    background-color: rgb(150, 164, 152);
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 3px;
    font-size: 18px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

td {
    padding-left: 30px;
    font-size: 14px;
}

.td-checkbox {
    width: 20px;
}

.button {
    width: 14px;
    height: 14px;
    border-radius: 0%;
    border: 1px solid;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);

    /* Removes any margin that could affect dimensions */
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    cursor: pointer;
}

/* CSS that creates the check mark */
.button::after {
    content: "";
    margin-left: 20px;
    margin-top: 4px;
    position: absolute;
    width: 18px;
    height: 6px;
    border-left: 2px solid black;
    /* Left part of the tick */
    border-bottom: 2px solid black;
    /* Bottom part of the tick */
    transform: rotate(-45deg) scale(0);
    /* Hidden by default */
    transform-origin: bottom left;
    opacity: 0;
}

.button.ticked::after {
    transform: rotate(-45deg) scale(1);
    opacity: 1;
}

.button:hover {
    transform: scale(1.1);
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 1200px) {

    .category-headline {
        font-size: 16px;
    }

    td {
        padding-left: 25px;
        font-size: 13px;
    }

    .td-checkbox {
        width: 18px;
    }

    .button {
        width: 13px;
        height: 13px;
    }
}

@media (max-width: 1000px) {

    .registry-about {
        font-size: 14px;
    }

    .registry-about::first-letter {
        font-size: 35px;
    }

    .page-headline {
        font-size: 26px;
    }

    .category-headline {
        font-size: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        border-radius: 3px;
        padding: 3px;
    }

    td {
        padding-left: 20px;
        font-size: 12px;
    }

    .td-checkbox {
        width: 16px;
    }

    .button {
        width: 12px;
        height: 12px;
    }
}

@media (max-width: 800px) {

    .page-headline {
        font-size: 22px;
    }

    .registry-about {
        font-size: 12px;
    }

    .registry-about::first-letter {
        font-size: 30px;
    }

    .columns {
        column-gap: 15px;
    }

    .category-headline {
        margin-top: 7px;
        margin-bottom: 7px;
        border-radius: 3px;
        padding: 2px;
        font-size: 14px;
    }

    td {
        padding-left: 15px;
        font-size: 11px;
    }

    .td-checkbox {
        width: 14px;
    }

    .button {
        width: 11px;
        height: 11px;
    }
}

@media (max-width: 600px) {

    .page-headline {
        font-size: 18px;
    }

    .registry-about {
        font-size: 10px;
    }

    .registry-about::first-letter {
        font-size: 25px;
    }

    .category-headline {
        margin-top: 6px;
        margin-bottom: 6px;
        border-radius: 2px;
        padding: 2px;
        font-size: 13px;
    }

    .registry-content {
        column-count: 1;
    }

    td {
        padding-left: 10px;
        font-size: 10px;
    }

    .td-checkbox {
        width: 12px;
    }

    .button {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 450px) {

    .page-headline {
        font-size: 16px;
    }

    .registry-about {
        font-size: 8px;
    }

    .registry-about::first-letter {
        font-size: 20px;
    }

    .category-headline {
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 2px;
        padding: 2px;
        font-size: 12px;
    }

    td {
        padding-left: 10px;
        font-size: 9px;
    }

    .td-checkbox {
        width: 10px;
    }

    .button {
        width: 9px;
        height: 9px;
    }
}