<div class="grid-container">
  <div class="grid-item1">
    <div class="avatar-container">
      <div class="circular-frame">
        <img src="assets/images/picture3.jpg">
      </div>
    </div>
    <ul>
      <li><a [routerLink]="'Home'">HOME</a></li>
      <li><a [routerLink]="'About'">ABOUT</a></li>
      <li><a [routerLink]="'Schedule'">SCHEDULE</a></li>
      <li><a [routerLink]="'Contact'">CONTACT</a></li>
      <li><a [routerLink]="'Rsvp'">RSVP</a></li>
    </ul>
  </div>
  <div class="grid-item2">
    <router-outlet></router-outlet>
  </div>
</div>