.page-headline {
    background-color: rgb(150, 164, 152);
    color: white;

    display: flex;
    justify-content: center;
    font-size: 32px;
    width: 100%;
    padding: 5px;
    margin: 0px;
}

.contact-container {
    margin: 2em;
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 3%;
}

.left-column {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contact-text {
    display: flex;
    justify-content: center;
    text-align: justify;
}

.content {
    position: relative;
    font-size: 14px;
}

.content::first-letter {
    /* Make the first letter larger */
    font-size: 36px; 
    /* Align it to the left of the text */
    float: left; 
    /* Add a bit of spacing to the right */
    margin-right: 0.15em; 
    /* Align with the paragraph's lines */
    line-height: 1; 
}

.image-container {
    display: flex;
    justify-content: center;
}

img {
    margin-top: 2em;
    width: 75%;
    height: auto;
    opacity: 0.9;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}

.right-column {
    margin-left: 1em;
    padding-left: 3em;
    border-left: 1px solid rgb(150, 164, 152);
}

.name-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.email-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.message-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.label {
    font-size: 16px;
    color: rgb(97, 96, 96);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.input-field {
    margin-bottom: 0.5em;
    width: 60%;
    height: 30px;
    font-size: 16px;
    font-family: 'Lora', cursive;

    border: none;
    border-bottom: 0.5px solid black;
    color: rgb(97, 96, 96);
    background-color: rgb(252, 251, 244);
}

.input-field-error {
    color: red;
    font-size: 14px;
}

.input-field::placeholder {
    font-family: 'Lora', cursive;
    font-size: 14px;
}

.input-textarea {
    font-size: 14px;
    line-height: 14px;
    width: 60%;
    height: calc(14px * 8);
    font-family: 'Lora', cursive;
}

.send-button {
    display: flex;
    justify-content: center;

    border-radius: 5px;
    background-color: rgb(150, 164, 152);
    color: white;
    border: none;
    font-family: 'Lora', cursive;
    font-size: 14px;

    width: auto;
    height: auto;
    padding: 0.3em 0.7em 0.3em;
    margin-top: 0.5em;
    margin-bottom: 3em;
}

.send-button:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {

}


@media (max-width: 1000px) {

    .page-headline {
        font-size: 26px;
    }

    .contact-container {
        margin: 1.6em;
        column-gap: 2%;
    }

    .content {
        font-size: 12px;
    }

    .content::first-letter {
        font-size: 30px;
    }

    img {
        margin-top: 1.6em;
    }

    .right-column {
        margin-left: 0.8em;
        padding-left: 2.5em;
    }

    .label {
        font-size: 14px;
        margin-bottom: 0.4em;
    }

    .input-field {
        font-size: 14px;
        height: 26px;
        margin-bottom: 0.4em;
    }

    .input-field::placeholder {
        font-size: 12px;
    }

    .input-textarea {
        font-size: 12px;
        height: calc(12px * 8);
    }

    .send-button {
        font-size: 12px;
    }
}


@media (max-width: 800px) {

    .page-headline {
        font-size: 22px;
    }

    .contact-container {
        margin: 1.2em;
        column-gap: 1.5%;
    }

    .content {
        font-size: 10px;
    }

    .content::first-letter {
        font-size: 25px;
    }

    img {
        width: 80%;
        margin-top: 1.2em;
    }

    .right-column {
        margin-left: 0.6em;
        padding-left: 2em;
    }
    .label {
        font-size: 12px;
        margin-bottom: 0.3em;
    }

    .input-field {
        font-size: 12px;
        height: 22px;
        margin-bottom: 0.3em;
    }

    .input-field::placeholder {
        font-size: 10px;
    }

    .input-textarea {
        font-size: 12px;
        height: calc(10px * 8);
    }

    .send-button {
        border-radius: 4px;
        font-size: 10px;
        margin-top: 0.3em;
        padding: 0.3em 0.6em 0.3em;
    }
}

@media (max-width: 600px) {

    .page-headline {
        font-size: 18px;
    }

    .contact-container {
        margin: 0.8em;
        column-gap: 1%;
    }

    .content {
        font-size: 8px;
    }

    .content::first-letter {
        font-size: 20px;
    }

    img {
        margin-top: 0.8em;
    }

    .right-column {
        margin-left: 0.4em;
        padding-left: 1.5em;
    }
    .label {
        font-size: 10px;
        margin-bottom: 0.2em;
    }

    .input-field {
        font-size: 10px;
        height: 18px;
        margin-bottom: 0.2em;
    }

    .input-field::placeholder {
        font-size: 9px;
    }

    .input-textarea {
        font-size: 10px;
        height: calc(8px * 8);
    }

    .send-button {
        border-radius: 3px;
        font-size: 9px;
        margin-top: 0.2em;
        padding: 0.2em 0.5em 0.2em;
    }
}

@media (max-width: 450px) {

    .page-headline {
        font-size: 16px;
    }

    .contact-container {
        margin: 0.4em;
        column-gap: 0.5%;
    }

    .content {
        font-size: 7px;
    }

    .content::first-letter {
        font-size: 18px;
    }

    img {
        margin-top: 0.4em;
    }

    .right-column {
        margin-left: 0.2em;
        padding-left: 1em;
    }

    .label {
        font-size: 8px;
        margin-bottom: 0.1em;
    }

    .input-field {
        font-size: 8px;
        height: 14px;
        margin-bottom: 0.1em;
    }
    
    .input-field::placeholder {
        font-size: 7px;
    }

    .input-textarea {
        font-size: 8px;
        height: calc(6px * 8);
    }
    
    .send-button {
        border-radius: 2px;
        font-size: 7px;
        margin-top: 0em;
        padding: 0.2em 0.5em 0.2em;
    }
}