.page-headline {
    background-color: rgb(150, 164, 152);
    color: white;

    display: flex;
    justify-content: center;
    font-size: 32px;
    width: 100%;
    padding: 5px;
    margin: 0px;
}

.contact {
    margin: 2em;
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 3%;
}

.intro {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    margin-top: 2em;
    width: 70%;
    height: auto;
    opacity: 0.9;

    border: 10px solid white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transform: rotate(-3deg);
}

.form-container {
    margin-left: 1em;
    padding-left: 3em;
    border-left: 1px solid rgb(150, 164, 152);
}

.confirmation-message {
    margin-top: 1em;
    font-size: 16px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name label,
.email label,
.message label {
    font-size: 16px;
    color: rgb(97, 96, 96);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.name input,
.email input {
    margin-bottom: 0.5em;
    width: 60%;
    height: 30px;
    font-size: 16px;
    font-family: 'Lora', cursive;

    border: none;
    border-bottom: 0.5px solid black;
    color: rgb(97, 96, 96);
    background-color: rgb(252, 251, 244);
}

.name input::placeholder,
.email input::placeholder {
    font-family: 'Lora', cursive;
    font-size: 14px;
}

.message textarea {
    font-size: 14px;
    line-height: 14px;
    width: 60%;
    height: calc(14px * 8);
    font-family: 'Lora', cursive;
}

.error-message {
    color: red;
    font-size: 14px;
}

.send-button {
    display: flex;
    justify-content: center;

    border-radius: 5px;
    background-color: rgb(150, 164, 152);
    color: white;
    border: none;
    font-family: 'Lora', cursive;
    font-size: 14px;

    width: auto;
    height: auto;
    padding: 0.3em 0.7em 0.3em;
    margin-top: 0.5em;
    margin-bottom: 3em;
}

.send-button:hover {
    cursor: pointer;
}


@media (max-width: 1200px) {

    .intro,
    .confirmation-message {
        font-size: 14px;
    }

    .form-container {
        padding-left: 2.5em;
    }
}


@media (max-width: 1000px) {

    .page-headline {
        font-size: 26px;
    }

    .contact {
        margin: 1.6em;
    }

    .intro,
    .confirmation-message {
        font-size: 13px;
    }

    .image img {
        width: 70%;
        margin-top: 1.6em;
        border: 8px solid white;
    }

    .form-container {
        margin-left: 0.8em;
        padding-left: 2.5em;
    }

    .name label,
    .email label,
    .message label {
        font-size: 14px;
        margin-bottom: 0.4em;
    }

    .name input,
    .email input {
        font-size: 14px;
        height: 26px;
        width: 65%;
        margin-bottom: 0.4em;
    }

    .name input::placeholder,
    .email input::placeholder {
        font-size: 12px;
    }

    .message textarea {
        font-size: 12px;
        height: calc(12px * 8);
        width: 65%;
    }

    .error-message {
        font-size: 12px;
    }

    .send-button {
        font-size: 12px;
    }
}

@media (max-width: 800px) {

    .page-headline {
        font-size: 22px;
    }

    .contact {
        margin: 1.2em;
    }

    .intro,
    .confirmation-message {
        font-size: 11px;
    }

    .image img {
        width: 75%;
        margin-top: 1.2em;
        border: 6px solid white;
    }

    .form-container {
        margin-left: 0.6em;
        padding-left: 2em;
    }

    .name label,
    .email label,
    .message label {
        font-size: 12px;
        margin-bottom: 0.3em;
    }

    .name input,
    .email input {
        font-size: 12px;
        height: 22px;
        margin-bottom: 0.3em;
        width: 70%
    }

    .name input::placeholder,
    .email input::placeholder {
        font-size: 10px;
    }

    .message textarea {
        font-size: 12px;
        height: calc(10px * 8);
        width: 70%
    }

    .error-message {
        font-size: 10px;
    }

    .send-button {
        border-radius: 4px;
        font-size: 10px;
        margin-top: 0.3em;
        padding: 0.3em 0.6em 0.3em;
    }
}

@media (max-width: 600px) {

    .page-headline {
        font-size: 18px;
    }

    .contact {
        margin: 1em;
    }

    .intro,
    .confirmation-message {
        font-size: 9px;
    }

    .intro p::first-letter {
        /* Make the first letter larger */
        font-size: 22px;
        /* Align it to the left of the text */
        float: left;
        /* Add a bit of spacing to the right */
        margin-right: 0.12em;
        /* Align with the paragraph's lines */
        line-height: 1;
    }

    .image img {
        width: 80%;
        margin-top: 0.8em;
        border: 6px solid white;
    }

    .form-container {
        margin-left: 0.4em;
        padding-left: 1.5em;
    }

    .name label,
    .email label,
    .message label {
        font-size: 10px;
        margin-bottom: 0.2em;
    }

    .name input,
    .email input {
        font-size: 10px;
        height: 18px;
        margin-bottom: 0.2em;
        width: 75%;
    }

    .name input::placeholder,
    .email input::placeholder {
        font-size: 9px;
    }

    .message textarea {
        font-size: 10px;
        height: calc(8px * 8);
        width: 75%;
    }

    .error-message {
        font-size: 9px;
    }

    .send-button {
        border-radius: 3px;
        font-size: 9px;
        margin-top: 0.2em;
        padding: 0.2em 0.5em 0.2em;
    }
}

@media (max-width: 450px) {

    .page-headline {
        font-size: 16px;
    }

    .contact {
        margin: 0.6em;
    }

    .intro,
    .confirmation-message {
        font-size: 8px;
    }

    .intro p::first-letter {
        font-size: 20px;
        margin-right: 0.1em;
    }

    .image img {
        margin-top: 0.4em;
        width: 80%;
        border: 4px solid white;
    }

    .form-container {
        margin-left: 0.2em;
        padding-left: 1em;
    }

    .name label,
    .email label,
    .message label {
        font-size: 8px;
        margin-bottom: 0.1em;
    }

    .name input,
    .email input {
        font-size: 8px;
        height: 14px;
        margin-bottom: 0.1em;
    }

    .name input::placeholder,
    .email input::placeholder {
        font-size: 7px;
    }

    .error-message {
        font-size: 7px;
    }

    .message textarea {
        font-size: 8px;
        height: calc(6px * 8);
    }

    .send-button {
        border-radius: 2px;
        font-size: 7px;
        margin-top: 0em;
        padding: 0.2em 0.5em 0.2em;
    }
}