<div class="page-headline">SCHEDULE</div>
<div style="margin: 2em;">This schedule gives a general outline of the wedding day. Apart from when the ceremoney
    starts, and when the the venue of the wedding party closes, times are only approximate. Our wish is for everyone to
    enjoy a day free of stress, in good company with the wedding couple, family and friends.</div>
<div class="headline">CHURCH</div>
<div class="grid-system">
    <div class="grid-item-1 left-column">14:30</div>
    <div class="grid-item-2 right-column">Wedding cermony starts in Domkyrkan.</div>
    <div class="grid-item-3 left-column">15:30</div>
    <div class="grid-item-4 right-column">Walk from Domkyrkan to Residensbron to embark on S/S Färjan 4. The walk is
        approximately 700 m.</div>
    <div class="grid-item-5 left-column">15:45</div>
    <div class="grid-item-6 right-column">S/S Färjan 4 leaves Residensbron for a 1.5 - 2 hour tour of Göteborg harbour.
        Drinks and snacks will be provided onboard.
        <p><b>Note:</b> There is no toilet available onboard.</p>
    </div>
</div>
<div class="headline">WEDDING PARTY</div>
<div class="grid-system">
    <div class="left-column">17:30</div>
    <div class="right-column">Arrival at Restaurant River On The Pier. Welcome drinks and hang out on the docks.</div>
    <div class="left-column">19:00</div>
    <div class="right-column">Three course dinner and wedding cake. Anyone keen on holding a speech? This is your
        moment. Reach out to the toastmaster, details in the <a [routerLink]="'/FAQ'">FAQ</a>.</div>
    <div class="left-column">21:00</div>
    <div class="right-column">Music and live artists.</div>
    <div class="left-column">02:00</div>
    <div class="right-column">The restaurant closes and we have to leave.</div>
</div>