.page-headline {
    background-color: rgb(150, 164, 152);
    color: white;

    display: flex;
    justify-content: center;
    font-size: 32px;
    width: 100%;
    padding: 5px;
    margin: 0px;
}

.headline {
    display: flex;
    justify-content: center;
    background-color: rgb(150, 164, 152);
    color: white;
    font-size: 22px;
}

.schedule-container {
    font-size: 16px;
}

.grid-system {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: auto;
    margin: 2em;
}

.left-column {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
}

.right-column {
    padding-left: 2em;
    margin-bottom: 2em;
    margin-right: 15%;
}

.right-column:last-child {
    margin-bottom: 0em;
}

a {
    text-decoration: none;
    color: blue;
}

@media (max-width: 1200px) {}

.schedule-container .headline {
    font-size: 20px;
}

@media (max-width: 1000px) {

    .page-headline {
        font-size: 26px;
    }

    .schedule-container {
        font-size: 14px;
    }

    .schedule-container .headline {
        font-size: 18px;
    }
}

@media (max-width: 800px) {

    .page-headline {
        font-size: 22px;
    }

    .schedule-container {
        font-size: 12px;
    }

    .schedule-container .headline {
        font-size: 16px;
    }
}

@media (max-width: 600px) {

    .page-headline {
        font-size: 18px;
    }

    .schedule-container {
        font-size: 10px;
    }

    .schedule-container .headline {
        font-size: 14px;
    }
}

@media (max-width: 450px) {

    .page-headline {
        font-size: 16px;
    }

    .schedule-container {
        font-size: 8px;
    }

    .schedule-container .headline {
        font-size: 12px;
    }
}