.page-headline {
    background-color: rgb(150, 164, 152);
    color: white;

    display: flex;
    justify-content: center;
    font-size: 32px;
    width: 100%;
    padding: 5px;
    margin: 0px;
}

.intro {
    margin: 2em;
    font-size: 16px;
}

.venue-headline {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: white;
    background-color: rgb(150, 164, 152);
    width: 100%;
}

.ceremony {
    margin: 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.ceremony-content {
    margin: 0;
    font-size: 16px;
}

.ceremony-image {
    display: flex;
}

.party {
    margin: 2em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.party-content {
    margin: 0;
    font-size: 16px;
}

.party-image {
    display: flex;
}

.desktop {
    display: flex;
}

.mobile {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    background: white;
    border: 10px solid white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.ceremony-image img {
    max-width: 50%;
    height: auto;
    object-fit: contain;
    transform: rotate(-2deg);
}

.party-image .desktop img {
    max-width: 60%;
    height: auto;
    object-fit: contain;
    transform: rotate(3deg);
}

.party-image .mobile img {
    max-width: 60%;
    height: auto;
    object-fit: contain;
    transform: rotate(3deg);
}

.party-image .mobile picture img {
    transform: rotate(-3deg);
}

@media (max-width: 1200px) {

    .intro,
    .ceremony-content,
    .party-content {
        font-size: 14px;
    }

    .ceremony-image img {
        max-width: 55%;
    }

    .party-image img {
        max-width: 70%;
    }
}

@media (max-width: 1000px) {
    .page-headline {
        font-size: 26px;
    }

    .venue-headline {
        font-size: 18px;
    }

    .intro,
    .ceremony-content,
    .party-content {
        font-size: 13px;
    }

    img {
        border: 8px solid white;
    }

    .ceremony-image img {
        max-width: 55%;
    }

    .party-image .desktop img {
        max-width: 65%;
    }
}

@media (max-width: 800px) {
    .page-headline {
        font-size: 22px;
    }

    .venue-headline {
        font-size: 16px;
    }

    .intro,
    .ceremony-content,
    .party-content {
        font-size: 11px;
    }

    .ceremony {
        margin: 1.5em;
    }

    .party {
        margin: 1.5em;
    }

    // Makes class=desktop invisible
    .desktop {
        display: none;
    }

    // Makes class=mobile visible
    .mobile {
        display: flex;
    }

    .ceremony-image img {
        max-width: 60%;
    }

    .party-image .mobile img {
        max-width: 55%;
    }
}

@media (max-width: 700px) {

    .mobile {
        justify-content: space-evenly;
    }

    .party-image .mobile img {
        max-width: 65%;
    }
}

@media (max-width: 600px) {

    .page-headline {
        font-size: 18px;
    }

    .venue-headline {
        font-size: 14px;
    }

    .intro,
    .ceremony-content,
    .party-content {
        font-size: 9px;
    }

    .intro {
        margin-top: 1.2em;
        margin-left: 1.2em;
    }

    .ceremony {
        margin-right: 0em;
        margin-top: 1.2em;
        margin-left: 1.2em;
    }

    .party {
        margin-right: 0em;
        margin-top: 1.2em;
        margin-left: 1.2em;
    }

    .party-image .mobile img {
        max-width: 70%;
        border: 6px solid white;
    }
}

@media (max-width: 450px) {

    .page-headline {
        font-size: 16px;
    }

    .venue-headline {
        font-size: 12px;
    }

    .intro,
    .ceremony-content,
    .party-content {
        font-size: 8px;
    }

    .ceremony {
        margin-top: 0.8em;
        margin-left: 0.8em;
    }

    .party {
        margin-top: 0.8em;
        margin-left: 0.8em;
    }

    img {
        max-width: 60%;
        border: 4px solid white;
    }
}