<div class="page-headline">ABOUT</div>
<div class="container">

    <p>We are delighted to be welcoming you to our wedding which will take place in Gothenburg on Saturday the 19th of
        July 2025.</p>

    <p>The wedding ceremony will be held at Gothenburg Cathedral (Göteborgs Domkyrka) which is located in the heart of
        Gothenburg. The church was originally consecrated in 1633 and later rebuilt in the 19th century. It is a
        stunning, historic landmark easily recognized by its elegant neoclassical architecture. The cathedral is the
        seat of the bishop of the diocese of Gothenburg in the Evangelical Lutheran Church of Sweden.</p>

    <p>Address: Kyrkogatan 28, 411 15, Gothenburg, Sweden.</p>

    <p>Gothenburg Cathedral is easily accessible by public transportation, and the closest bus stops are Domkyrkan,
        Gröntsakstorget and Kungsportsplatsen.</p>

    <p>The wedding reception following the church ceremony will take place in Eriksberg at River Restaurant on the Pier.
        Eriksberg is located along the northern bank of Gothenburg’s Göta River and was once a bustling shipyard. The
        area is easily recognizable by its iconic red shipyard crane which stands as a bright reminder of the
        neighborhood’s rich industrial history.
        We have chosen this location to both honor Patrik’s lifelong relationship with the maritime as well as pay
        homage to the waterway that connects us. From the Restaurant you can actually see Stena Line’s ferries passing
        on their way to and from Denmark. The same exact ferries that carried Patrik to Denmark when we went on our very
        first date.</p>

    <p>Address: Dockepiren, Eriksberg, 417 64, Gothenburg, Sweden.</p>

    <p>River Restaurant on the Pier is easily accessible by public transportation as well. The closest stops are
        Eriksbergs Färjeläge and Eriksbergstorget.</p>
</div>