.page-headline {
    background-color: rgb(150, 164, 152);
    color: white;

    display: flex;
    justify-content: center;
    font-size: 32px;
    width: 100%;
    padding: 5px;
    margin: 0px;
}

.container {
    height: 100vh;
    margin: 2em;
}

.text-container {
    font-size: 16px;
}

.text {
    margin-bottom: 1em;
    text-align: center;
}

.add-symbol-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.15em;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
    height: auto;
    color: rgb(97, 96, 96);
    border: 1px solid rgb(150, 164, 152);
    border-radius: 5px;
    padding-top: 1em;
}

h1 {
    display: flex;
    justify-content: space-around;
    color: rgb(150, 164, 152);
    margin-top: 0;
}

.attending-container {

    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 1em;
    width: 100%;
}

.accept {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.decline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

input[type="radio"] {
    margin: 0;
    margin-left: 1em;
    width: 18px;
    height: 18px;
}

input[type="radio"]:hover {
    cursor: pointer;
}

.guest-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.guest-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55%;
}

.label {
    font-size: 16px;
    color: rgb(97, 96, 96);
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.input-field {
    margin-bottom: 0.5em;
    width: 100%;
    height: 30px;
    font-size: 16px;

    border: none;
    border-bottom: 0.5px solid black;
    color: rgb(97, 96, 96);
    background-color: rgb(252, 251, 244);
}

.input-field::placeholder {
    font-family: 'Lora', cursive;
    font-size: 14px;
}

.error-message {
    font-size: 14px;
    color: red;
    margin-bottom: 0.5em;
}

.add-symbol-form {
    display: flex;
    justify-content: flex-start;
    width: 55%;
    margin: 0;
    padding: 0;
}

.add-symbol-form:hover {
    cursor: pointer;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 55%;
}

.input-textarea {
    font-size: 14px;
    line-height: 14px;
    height: calc(14px * 8);
    font-family: 'Lora', cursive;
}

.send-button {
    display: flex;
    justify-content: center;

    border-radius: 5px;
    background-color: rgb(150, 164, 152);
    color: white;
    border: none;
    font-family: 'Lora', cursive;
    font-size: 14px;

    width: auto;
    height: auto;
    padding: 0.3em 0.7em 0.3em;
    margin-top: 0.5em;
    margin-bottom: 3em;

}

.send-button:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .attending-container {
        font-size: 14px;
        margin-bottom: 1em;
        letter-spacing: 2px;
    }

    input[type="radio"] {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 1000px) {

    .page-headline {
        font-size: 26px;
    }

    .text-container {
        font-size: 14px;
    }

    h1 {
        font-size: 26px;
    }

    .attending-container {
        font-size: 12px;
        letter-spacing: 1px;
    }

    input[type="radio"] {
        width: 13px;
        height: 13px;
    }

    .label {
        font-size: 14px;
        margin-bottom: 0.4em;

    }

    .input-field {
        font-size: 14px;
        height: 25px;
    }

    .input-textarea {
        font-size: 14px;
        line-height: 14px;
        height: calc(14px * 8);
    }

    .send-button {
        font-size: 12px;
    }
}

@media (max-width: 800px) {

    .page-headline {
        font-size: 22px;
    }

    .text-container {
        font-size: 14px;
    }

    h1 {
        font-size: 22px;
    }

    .attending-container {
        display: flex;
        flex-direction: column;

        margin-bottom: 0.5em;
        letter-spacing: 2px;
    }

    .accept,
    .decline {
        display: flex;
        justify-content: space-between;
        padding: 0.3em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .label {
        font-size: 12px;
        margin-bottom: 0.3em;

    }

    .input-field {
        font-size: 12px;
        height: 20px;
    }

    .input-field::placeholder {
        font-size: 12px;
    }

    .input-textarea {
        font-size: 12px;
        line-height: 12px;
        height: calc(12px * 8);
    }

    .send-button {
        border-radius: 4px;
        font-size: 10px;
        margin-top: 0.3em;
        padding: 0.3em 0.6em 0.3em;
    }
}

@media (max-width: 600px) {

    .page-headline {
        font-size: 18px;
    }

    .text-container {
        font-size: 12px;
    }

    h1 {
        font-size: 18px;
    }

    .attending-container {
        font-size: 8px;
        letter-spacing: 1px;
    }

    input[type="radio"] {
        width: 10px;
        height: 10px;
    }

    .label {
        font-size: 10px;
        margin-bottom: 0.2em;
    }

    .input-field {
        font-size: 10px;
        height: 18px;
    }

    .input-field::placeholder {
        font-size: 10px;
    }

    .input-textarea {
        font-size: 10px;
        line-height: 10px;
        height: calc(10px * 7);
    }

    .send-button {
        border-radius: 3px;
        font-size: 9px;
        margin-top: 0.2em;
        padding: 0.2em 0.5em 0.2em;
    }
}

@media (max-width: 450px) {

    .page-headline {
        font-size: 16px;
    }

    .text-container {
        font-size: 10px;
    }

    h1 {
        font-size: 16px;
    }

    .attending-container {
        font-size: 7px;
        letter-spacing: 1px;
    }

    input[type="radio"] {
        width: 8px;
        height: 8px;
    }

    .label {
        font-size: 9px;
        margin-bottom: 0.1em;
    }

    .input-field {
        font-size: 9px;
        height: 12px;
    }

    .input-field::placeholder {
        font-size: 9px;
    }

    .input-textarea {
        font-size: 8px;
        line-height: 8px;
        height: calc(8px * 6);
    }

    .send-button {
        border-radius: 2px;
        font-size: 7px;
        margin-top: 0em;
        padding: 0.2em 0.5em 0.2em;
    }
}