<div class="page-headline">RSVP</div>
<div class="container">
    <div class="text-container">
        <div class="text">Let us know if you will attend the wedding by RSVP before <b>31 May 2025</b>.</div>
        <div class="text">Fill in all guests that will attend from your invitation. Add a line for each person by pressing the
            <app-plus-sign class="add-symbol-text"></app-plus-sign>
        </div>
        <div class="text">If there is anything we should know, feel free to write us a message.</div>
    </div>

    <div class="form-container">
        <form class="form" #guestForm="ngForm" (ngSubmit)="addGuest(guestForm)">
            <h1>RSVP</h1>
            <div class="attending-container">
                <div class="accept">
                    <label>HAPPILY ACCEPTS</label>
                    <input type="radio" name="attending" [(ngModel)]="attending" [value]="true">
                </div>
                <div class="decline">
                    <label>REGRETFULLY DECLINES</label>
                    <input type="radio" name="attending" [(ngModel)]="attending" [value]="false">
                </div>
            </div>

            <div class="guest-container" *ngFor="let guest of guests; index as i; trackBy: trackByIndex">
                <div class="guest-field">
                    <label class="label">Guest {{i+1}}</label>
                    <input class="input-field" type="text" name="name{{i}}" placeholder="Name" [(ngModel)]="guests[i]">
                    <div class="error-message" *ngIf="validationErrors[i]">Name missing</div>
                </div>
            </div>
            <app-plus-sign class="add-symbol-form" (click)="addLine()"></app-plus-sign>

            <div class="message-container">
                <label class="label">Message</label>
                <textarea class="input-textarea" name="message" [(ngModel)]="message"></textarea>
                <div class="send-button-container">
                    <button class="send-button" type="submit">SEND</button>
                </div>
            </div>

        </form>
    </div>
</div>