.page-headline {
    background-color: rgb(150, 164, 152);
    color: white;

    display: flex;
    justify-content: center;
    font-size: 32px;
    width: 100%;
    padding: 5px;
    margin: 0px;
}

.container {
    height: 100vh;
    margin: 2em;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.text-container div {
    margin-bottom: 1em;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;
    height: auto;
    color: rgb(97, 96, 96);
    border: 1px solid rgb(150, 164, 152);
    border-radius: 5px;
    padding-top: 1em;
}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(150, 164, 152);
    margin-top: 0;
}


.attending-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

    font-size: 16px;
    margin-bottom: 1em;
    letter-spacing: 2px;
    margin-left: 0em;
    margin-right: 0em;

    width: 100%;
    //background-color: lightblue;
    
}

.accept {
    display: flex;
    justify-content: center;
}

.decline {
    display: flex;
    justify-content: center;
}

.guest-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.guest-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 55%;
}

.label {
    font-size: 16px;
    color: rgb(97, 96, 96);
    margin-top: 1em;
}

.input-field {
    margin-top: 0em;
    margin-bottom: 0.5em;
    width: 100%;
    height: 30px;
    font-size: 16px;

    border: none;
    border-bottom: 0.5px solid black;
    background-color: rgb(252, 251, 244);
}

.input-field::placeholder {
    font-family: 'Lora', cursive;
    font-size: 14px;
}

.error-message {
    font-size: 14px;
    color: red;
    margin-bottom: 0.5em;
}

.add-sign {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.add-sign:hover {
    cursor: pointer;
}

.message-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 55%;
}

.send-button {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    padding: 0.3em 0.7em 0.3em;
    margin-top: 0.5em;
    margin-bottom: 3em;
    border-radius: 5px;
    background-color: rgb(150, 164, 152);
    color: white;
    border: none;
    font-family: 'Lora', cursive;
    font-size: 14px;
}

.send-button:hover {
    cursor: pointer;
}

@media (max-width: 1200px) {
    .attending-container {
        font-size: 14px;
        margin-bottom: 1em;
        letter-spacing: 2px;
    }

}

@media (max-width: 1000px) {

    .page-headline {
        font-size: 26px;
    }

    .text-container {
        font-size: 14px;
    }

    h1 {
        font-size: 26px;
    }

    .attending-container {
        font-size: 12px;
        letter-spacing: 1px;
    }
}

@media (max-width: 800px) {

    .page-headline {
        font-size: 22px;
    }

    .text-container {
        font-size: 14px;
    }


    h1 {
        font-size: 22px;
    }

    .attending-container {
        font-size: 10px;
        margin-bottom: 0.5em;
        letter-spacing: 1px;
    }
}

@media (max-width: 600px) {

    .page-headline {
        font-size: 18px;
    }

    .text-container {
        font-size: 12px;
    }

    h1 {
        font-size: 18px;
    }

}

@media (max-width: 450px) {

    .page-headline {
        font-size: 16px;
    }

    .text-container {
        font-size: 10px;
    }

    h1 {
        font-size: 16px;
    }
}