.container {
    display: flex;
    justify-content: flex-start;
}

.form {
    display: flex;
    flex-direction: column;

    width: 400px;
    height: auto;
    background-color: rgb(150, 164, 152);
    color: white;
    border-radius: 10px;
    padding: 1em;
}

label {
    font-size: 18px;
    margin-top: 1em;
}

.input-field {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 300px;
}

.submit-button {
    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 50px;
}

.error-message {
    color: white;
}
